.success,
.error {
  color: #fff;
  padding: 5px;
  margin: 5px 0 15px 0;
}
.success {
  background-color: #228b22;
}
.btn-clear-all,
.error {
  background-color: #ec1c01;
}
body {
  background-color: whitesmoke;
}
.add-movie {
  color: #ec1c01;
}

.btn {
  width: 49%;
}
.heading-movie-list {
  border: none;
  background: whitesmoke;
  color: #021a3d;
}

.table th {
  background-color: #021a3d;
  margin: auto;
}
.table a {
  color: #fff;
  background-color: #ec1c01;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

@media (max-width: 425px) {
  .table th {
    display: none;
  }
  .table td {
    display: block;
  }
  .table td:last-child {
    margin-bottom: 10px;
  }
}
